.users-table {
  &__filter {
    width: 100%;
    position: sticky;
    top: 0;
  }

  .mat-mdc-row:hover, .selected-table-row {
    --mat-table-row-item-label-text-color: #005cbb;
    --mat-table-row-item-outline-color: #005cbb;
    --mat-table-row-item-outline-width: 1.5px;
  }
}
