<div class="users-table">
  <div class="users-table__header">
    <mat-form-field class="users-table__header_filter" appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput (keyup)="_applyFilter($event)" #input />
    </mat-form-field>
    <button mat-fab extended (click)="_openCreateUserDialog()">
      <mat-icon>add</mat-icon>
      Create
    </button>
  </div>

  <table class="users-table__table" mat-table [dataSource]="_dataSource">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Username Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>Username</th>
      <td mat-cell *matCellDef="let element">{{ element.username }}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <!-- Website Column -->
    <ng-container matColumnDef="website">
      <th mat-header-cell *matHeaderCellDef>Website</th>
      <td mat-cell *matCellDef="let element">{{ element.website }}</td>
    </ng-container>

    <!-- Operations Column -->
    <ng-container matColumnDef="operations">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <div class="users-table__table_operations">
          <button
            mat-icon-button
            (click)="_openUpdateUserDialog($event, element)"
          >
            <mat-icon>create</mat-icon>
          </button>
          <button mat-icon-button (click)="_removeUser($event, element)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="_displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: _displayedColumns"
      (click)="_selectUser(row)"
    ></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>
</div>
